@page "/testplugin"

<h4 class="pb-5">This page is contained within a Blazor plugin!</h4>

<p>Don't believe me? Go set <code>IsEnabled</code> property to false, in the <code>Plugins:Modules</code> section of the <code>appsettings.json</code> file, and restart the app. You won't be able to get to this page then ...</p>

<p class="pt-5 muted-text">Dependent Class: <code>@typeof(CG.Blazor.Plugins.TestPlugin.Dependency.Class1).FullName</code> was resolved by the plugin loader, even though the <code>Assembly.Load</code> method initially failed to find the assembly in the <code>@typeof(CG.Blazor.Plugins.TestPlugin.Dependency.Class1).Assembly.Location</code> folder. </p>

@code {

}
