@page "/testplugin"

<h4 class="pb-5">This page is hosted within a Blazor plugin!</h4>

Don't believe me? Go comment out the <code>Plugins</code> section in the appsettings.json file, and restart the app. You won't be able to get to this page then ...

@code {

}
